* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: antiquewhite;
  position: relative;
}